{% extends 'template.twig' %}
{% block body %}
    <h2 class="text-center w-100">Panneau d'administration</h2>
    <h5>Recettes de la catégorie {{ recipe.categoryLabel }}</h5>
    <table class="text-center table-striped table-borderless table-responsive table w-100 d-block d-sm-table d-md-table">
        <thead class="thead-dark">
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for recipe in listRecipesByCat %}
            <tr class="recipe">
                <td>{{ recipe.recipeTitle }}</td>
                <td>{{ recipe.recipeDate }}</td>
                <td class="btn-group" role="group" aria-label="actions">
                    <button data-id="{{ recipe.recipeId }}" class="delete-recipe btn btn-danger">Effacer</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{{ baseUrl }}/admin" class="btn btn-secondary p-1"><i class="fas fa-arrow-circle-left"></i> Retour</a></p>
{% endblock %}
{% block scripts %}
    <script src="{{ baseUrl }}/app/public/js/AdminPanel.js"></script>
    <script src="{{ baseUrl }}/app/public/js/admin.js"></script>
{% endblock %}