{% extends "template.twig" %}
{% block body %}

    <div class="row">

        <div class="input-group my-3 search-bar">
            <input type="search" name="keyword" id="keyword" class="form-control" placeholder="Recherche">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="display-results">
            <div class="result"></div>
        </div>
        <div class="card-deck" id="list-recipes">
        </div>

    </div>
    <div class="row">
        <div class="mx-auto">
            {% for category in listCategories %}
                <a href="{{ baseUrl }}/category/id/{{ category.categoryId }}"
                   class="btn btn-success">{{ category.categoryLabel }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="mx-auto  my-5">
            <nav>
                <ul class="pagination">
                    {% for page in 1..pagesInfos.nbPages %}
                         <li class="page-item"><a class="page-link" data-id="{{ page }}" href="#">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ baseUrl }}/app/public/js/Recipes.js"></script>
    <script src="{{ baseUrl }}/app/public/js/Comments.js"></script>
    <script src="{{ baseUrl }}/app/public/js/main.js"></script>
{% endblock %}